{
  "extends": "./node_modules/@qumu/code-conventions/stylelint/index.js",
  "rules": {
    "selector-type-no-unknown": [
      true,
      {
        "ignoreTypes": [
          "/^qi-/"
        ]
      }
    ]
  }
}
