@import '@qumu/ui-kit/scss/core/variables';

// Style for the anchor links in each page
// we want to hide them by default, unless the user hovers over the headings or focus on they via keyboard
:is(h1,h2,h3,h4,h5,h6) {
  > .anchor-link {
    margin-left: map-get($qi-spacers, 1);
    opacity: 0;

    &:focus {
      opacity: 1;
    }
  }

  &:hover > .anchor-link {
    opacity: 1;
  }
}
